/* Å×¸¶»ö»ó1_red */
:root {
    --primary: #679E72;
    --primary-darker: #882B2F;
    --primary-txt: #679E62;
    --secondary: #9ea1a9;
    --secondary-darker: #7f8189;
    --qna-color: #9ea1a9;
}