/* Å×¸¶»ö»ó1_red */
:root {
    --primary: #A73439;
    --primary-darker: #882B2F;
    --primary-txt:#D24C52;
    --secondary: #9ea1a9;
    --secondary-darker: #7f8189;
    --qna-color: #9ea1a9;
}